body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #081b31;
    padding: 10px 20px;
}

nav h3 {
    color: #fff;
}

nav div {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: #f4f6f9;
    color: black;
}

button {
    font-size: 16px;
    background-color: #10355f;
    color: #fff;
    border-style: solid;
    border-radius: 1rem;
}

.main {
    margin: 50px;
    padding: 20px;
    background: #fff;
}

h1 {
    color: black;
    font-size: 3rem;
}

.project-container {
    margin-top: 30px;
    padding: 20px;
}

.projects {
    font-size: 20px;
}

.project {
    display: flex;
    align-items: center;
    gap: 10px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: square;
}

li {
    margin: 20px;
}

li img {
    height: 50px;
    width: 50px;
}

.footer {
    height: 100px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-top-color: black;
    border-top-style: dashed;
}