* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4e4ba;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    padding: 10px;
}

.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}

form {
    margin: 2rem 0 1rem 0;
}

form input,select,button {
    width: 90%;
    border: none;
    outline: none;
    border-radius: 0.25rem;
}

form input {
    border: 1px solid grey;
    font-size: 1rem;
    padding: 1rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.select-box img {
    width: 2rem;
}

.select-box {
    display: flex;
    width: 7rem;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 0.25rem;
}

.select-box select {
    font-size: 1rem;
    width: auto;
}

.msg {
    margin: 2rem 0 2rem 0;
    text-align: center;
}

form button {
    background-color: #af4d98;
    height: 3rem;
    font-size: 1.25rem;
    margin-left: 1rem;
    color: #fff;
    cursor: pointer;
}

.footer {
    height: 100px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-top-color: black;
    border-top-style: dashed;
}